* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-emphasis: none;
	text-decoration: none;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// background: #f2f2f2;
	width: 100%;
	min-height: 100vh;
	min-width: 800px;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.clearfix {
	/* 触发 hasLayout */
	zoom: 1;

	&:after {
		content: "020";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

/** 点赞动画 likezoom **/
.likezoom-enter-active,
.likezoom-leave-active {
	transition: all 0.15s cubic-bezier(0.42, 0, 0.34, 1.55);
}

.likezoom-enter,
.likezoom-leave-to {
	transform: scale(0);
}

.likezoom-enter-to,
.likezoom-leave {
	transform: scale(1);
}

/* router view transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
	transition: all 0.3s;
}

.fade-slide-enter-from {
	opacity: 0;
	transform: translateX(-30px);
}

.fade-slide-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* router view transition component-fade */
.component-fade-enter-active,
.component-fade-leave-active {
	transition: opacity 0.3s ease;
}

.component-fade-enter-from,
.component-fade-leave-to {
	opacity: 0;
}